.instagram-feed {
    margin: 100px 100px 100px 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3x3 grid */
    grid-gap: 20px;
    justify-content: center; /* Center horizontally */
    align-content: center; /* Center vertically */
}

@media (max-width: 750px) { /* Adjust the max-width as needed */
    .instagram-feed {
        margin: 0;
        grid-template-columns: 1fr;
    }
}

.instagram-item {
    position: relative;
    overflow: hidden;
}

.image-container {
    /* Set the aspect ratio (1:1 for square) */
    width: 100%; /* Set the width to 100% to occupy the entire column */
    padding-top: calc(5 / 4 * 100%); /* 4:5 aspect ratio */
    position: relative;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; /* Maintain aspect ratio and stay in container */
    transition: transform 0.2s ease-in-out;
}

.instagram-item:hover .image-container img {
    transform: scale(1.1); /* Hover effect */
}

.instagram-item a {
    text-decoration: none;
    color: inherit;
}